@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


:root{
    --cor-primaria: hsl(143, 78%, 17%);
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: rgb(240, 236, 209);

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

header{
    height: 100px;
    display: flex;
    background-color: var(--cor-primaria);
    justify-content: space-around;
    align-items: center;
}

nav{
    width: 50%;
}

ul {
    
    display: flex;
    width: 90%;
    justify-content: space-between;
}

li {
    list-style: none;
    color:var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-size: 19px;
    cursor: pointer;
    transition: 1s;

}
li:hover{
    color: #918e8e;

}

#logotipo{
    width: 100px;
    height: 80px;
}

body{
background-color: var(--cor-secundaria);

}

.titulos {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    font-family: var(--fonte-secundaria);
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    
}

.foto__Sessao1{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 100px;
}
    


#planta1{
    width: 250px;
    height: 250px;
    border-radius: 2%;
   
}

#planta2{
    width: 250px;
    height: 250px;
    border-radius: 2%; 
    
}

#planta3{
    width: 250px;
    height: 250px;
    border-radius: 2%; 
     
}
.link__plantas123{
    font-family: var(--fonte-secundaria);
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 300px;
    
}
.preco123{
    font-family: var(--fonte-secundaria);
    font-size: 26px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 250px;
}

.link__botoes123{
    font-family: var(--fonte-secundaria);
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 260px;
}

.botao1{
    width: 98px;
    height: 40px;
    font-size: 15px;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family:var(--fonte-primaria);
    border-radius: 10px;
    cursor: pointer;  
}

.botao1:hover{
    background-color: var(--cor-secundaria);
    color:var(--cor-primaria)
}

.botao2{
    width: 98px;
    height: 40px;
    font-size: 15px;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family:var(--fonte-primaria);
    border-radius: 10px;
    cursor: pointer;  
}
.botao2:hover{
    background-color: var(--cor-secundaria);
    color:var(--cor-primaria)
}

.botao3{
    width: 98px;
    height: 40px;
    font-size: 15px;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family:var(--fonte-primaria);
    border-radius: 10px;
    cursor: pointer;   
}
.botao3:hover{
    background-color: var(--cor-secundaria);
    color:var(--cor-primaria)
}

.foto__Sessao2{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 100px;
}

#planta4{
    width: 250px;
    height: 250px;
    border-radius: 2%;
}

#planta5{
    width: 250px;
    height: 250px;
    border-radius: 2%;
}


#planta6{
    width: 250px;
    height: 250px;
    border-radius: 2%;   
}
.link__plantas456{
    font-family: var(--fonte-secundaria);
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 290px;
    
}
.preco456{
    font-family: var(--fonte-secundaria);
    font-size: 26px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 250px;
}

.link__botoes456{
    font-family: var(--fonte-secundaria);
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 260px;
}
.botao4{
    width: 98px;
    height: 40px;
    font-size: 15px;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family:var(--fonte-primaria);
    border-radius: 10px;
    cursor: pointer;
}
.botao4:hover{
    background-color: var(--cor-secundaria);
    color:var(--cor-primaria)
}
.botao5 {
    width: 98px;
    height: 40px;
    font-size: 15px;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family:var(--fonte-primaria);
    border-radius: 10px;
    cursor: pointer;
}
.botao5:hover{
    background-color: var(--cor-secundaria);
    color:var(--cor-primaria)
}
.botao6{
    width: 98px;
    height: 40px;
    font-size: 15px;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family:var(--fonte-primaria);
    border-radius: 10px;
    cursor: pointer;
}
.botao6:hover{
    background-color: var(--cor-secundaria);
    color:var(--cor-primaria)
}

.roda__pe{
    margin-top: 80px;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-size: 14px;
    width:auto;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}